<header>
    <a href="/" class="header-logo">
        <img src="/icons/logo.jpg" alt="Логотип">
        <h3>Юридическая компания</h3>
    </a>
    <aside class="header-container">
        <div class="header-contacts">
            <div class="header-phone">
                <img width="20" src="/icons/svg/call.svg" alt="Телефон">
                <a href="tel:+79524616931">+7 (952) 461-69-31</a>
            </div>
            <button class="header-button header-button__networks">
                <a href="https://t.me/KhlystovNN"><img width="18" src="/icons/svg/telegram.svg" alt="Telegram"></a>
            </button>
            <button class="header-button header-button__networks">
                <a href="https://wa.me/+79524616931"><img width="18" src="/icons/svg/whatsapp.svg" alt="Whatsapp"></a>
            </button>
            <button class="header-button header-button__consultation">
                <a href="#consultation-form">Бесплатная консультация</a>
            </button>
        </div>
<!--        <nav>-->
<!--            <ul class="navigation-container">-->
<!--                <li><a href="/">Главная</a></li>-->
<!--                {{gridHtml}}-->
<!--            </ul>-->
<!--        </nav>-->
    </aside>
  </header>