<div class="item-container">
    <section class="container-image item-banner" style="background-image: url({{itemImage}})">
        <div class="container info-container">
            <div class="item-name">
                <img src="{{itemIcon}}" alt='{{itemName}}'>
                <h2>{{itemName}}</h2>
            </div>
            <p>{{itemDescription}}</p>
        </div>
    </section>
    <section class="container-image item-services">
        <h2>Наши услуги</h2>
        <ul class="item-services__list">
            {{itemServices}}
        </ul>
    </section>
</div>
