<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
  <script src="/js/form-validation.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="description" content="Бесплатная юридическая консультация в Нижнем Новгороде" />
  <meta name="robots" content="index, follow" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  {{header}}
  <main>
    <section style="background-color: white;">
      {{content}}
    </section>
  </main>
  <!-- <main>
    <section>
      <h1>Бесплатная юридическая консультация в Нижнем Новгороде</h1>
      <h2>Есть юридические вопросы? Не переживайте, мы здесь, чтобы помочь! Получите бесплатную юридическую консультацию и узнайте всё, что вас интересует, без каких-либо затрат! Наша команда опытных юристов из Нижнего Новгорода и области готова поддержать вас и помочь разобраться в любых правовых вопросах.</h2>
      <button>Получить консультацию</button>
    </section>
    <section>
      {{content}}
    </section>
  </main>
  {{footer}} -->
  {{footer}}
</body>
</html>
