<div>
    <section class="banner">
      <div class="banner-content">
          <h1 class="banner-title">Бесплатная юридическая консультация в Нижнем Новгороде</h1>
          <h2 class="banner-description">Есть юридические вопросы? Не переживайте, мы здесь, чтобы помочь! Получите бесплатную юридическую консультацию и узнайте всё, что вас интересует, без каких-либо затрат! Наша команда опытных юристов из Нижнего Новгорода и области готова поддержать вас и помочь разобраться в любых правовых вопросах.</h2>
          <button class="banner-button">
              <a href="#consultation-form">
                  Получить консультацию
              </a>
          </button>
          <a href="#services" class="banner-arrow">
              <img src="/icons/svg/down-arrow.svg" width="60" height="60" alt="arrow">
          </a>
      </div>
    </section>
    <section id="services">

    </section>
</div>
