<div class="main-container">
    <section class="banner">
      <div class="banner-content">
          <h1 class="banner-title">Бесплатная юридическая консультация в Нижнем Новгороде</h1>
          <h2 class="banner-description">Есть юридические вопросы? Не переживайте, мы здесь, чтобы помочь! Получите бесплатную юридическую консультацию и узнайте всё, что вас интересует, без каких-либо затрат! Наша команда опытных юристов из Нижнего Новгорода и области готова поддержать вас и помочь разобраться в любых правовых вопросах.</h2>
          <button class="big-button">
              <a href="#consultation-form">
                  Получить консультацию
              </a>
          </button>
          <a href="#services" class="banner-arrow">
              <img src="/icons/svg/down-arrow.svg" width="60" height="60" alt="arrow">
          </a>
      </div>
    </section>
    <section id="services" class="services-container">
        {{itemsInfo}}
    </section>
    <section class="container-image how-works">
        <div class="container how-works-container">
            <h2>Как это работает?</h2>
            <div class="steps">
                <img src="/images/lineNumbers.png" alt="lineNumbers" height="100%">
                <ul class="steps-lists">
                    <li>
                        <h3>1. Заполните заявку </h3>
                        <p>Расскажите нам о своей проблеме и укажите, насколько она срочная. Это поможет нам быстрее подготовить ответ.</p>
                    </li>
                    <li>
                        <h3>2. Уточнение информации </h3>
                        <p>Если потребуется, наш юрист свяжется с вами для уточнения деталей. Мы готовы работать с вами так, как вам удобно!</p>
                    </li>
                    <li>
                        <h3>3. Получите консультацию</h3>
                        <p>В кратчайшие сроки вы получите ответ в выбранном вами формате. Мы на связи круглосуточно!</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="container-image reasons">
        <h2>Почему выбирают нас?</h2>
        <ul class="reasons-lists">
            <li class="reasons-lists__container">
                <img src="/icons/reasons/wallet.png" alt="wallet">
                <div class="reasons-lists__text">
                    <h3>- Консультации бесплатно и без обязательств</h3>
                    <p>наши консультации абсолютно бесплатны, без скрытых платежей и уловок.</p>
                </div>
            </li>
            <li class="reasons-lists__container">
                <img src="/icons/reasons/balance.png" alt="balance">
                <div class="reasons-lists__text">
                    <h3>- Подбор судебной практики </h3>
                    <p>найдем наиболее подходящие решения для вашей ситуации</p>
                </div>
            </li>
            <li class="reasons-lists__container">
                <img src="/icons/reasons/home.png" alt="home">
                <div class="reasons-lists__text">
                    <h3>- Комфортное взаимодействие </h3>
                    <p>выбирайте, как вам удобно получать консультацию: по телефону, в мессенджере или через электронную почту!</p>
                </div>
            </li>
            <li class="reasons-lists__container">
                <img src="/icons/reasons/secure-shield.png" alt="secure-shield">
                <div class="reasons-lists__text">
                    <h3>- Гарантия конфиденциальности</h3>
                    <p>ваша информация под надежной защитой</p>
                </div>
            </li>
            <li class="reasons-lists__container">
                <img src="/icons/reasons/corporate-laws.png" alt="corporate-laws">
                <div class="reasons-lists__text">
                    <h3>- Объясняем сложное простым языком </h3>
                    <p> берём трудные или запутанные темы и рассказываем о них так, чтобы любой мог понять.</p>
                </div>
            </li>
            <li class="reasons-lists__container">
                <img src="/icons/reasons/law.png" alt="law">
                <div class="reasons-lists__text">
                    <h3>- Гарантия качества </h3>
                    <p>мы следуем строгим стандартам качества и этики, что обеспечивает высокий уровень обслуживания и соблюдение профессиональных норм.</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="container-image about-us">
        <div class="container about-us__container">
            <h2>О нас</h2>
            <p>
                Наша команда — это опытные юристы из Нижнего Новгорода и области с более чем десятилетним опытом в различных областях права, которые знают, как помочь вам в сложных ситуациях. Мы не взимаем плату за юридические консультации, потому что верим в честный подход к делу. Вы можете задать нам вопрос и получить профессиональное мнение, а решение о дальнейших действиях всегда остаётся за вами. Наша команда профессионалов готова в режиме онлайн ответить на ваши вопросы и предоставить юридическую помощь. Мы предоставляем консультации не только в городе Нижнем Новгороде, но и по всей Нижегородской области совершенно бесплатно. Не теряйте время на ненужные встречи и поездки! Звоните нам или нажмите кнопку "Получить консультацию" , и мы поможем вам прямо сейчас.
            </p>
        </div>
    </section>
</div>
