<div class="main-container">
    <section class="banner">
      <div class="banner-content">
          <h1 class="banner-title">Бесплатная юридическая консультация в Нижнем Новгороде</h1>
          <h2 class="banner-description">Есть юридические вопросы? Не переживайте, мы здесь, чтобы помочь! Получите бесплатную юридическую консультацию и узнайте всё, что вас интересует, без каких-либо затрат! Наша команда опытных юристов из Нижнего Новгорода и области готова поддержать вас и помочь разобраться в любых правовых вопросах.</h2>
          <button class="banner-button">
              <a href="#consultation-form">
                  Получить консультацию
              </a>
          </button>
          <a href="#services" class="banner-arrow">
              <img src="/icons/svg/down-arrow.svg" width="60" height="60" alt="arrow">
          </a>
      </div>
    </section>
    <section id="services" class="services-container">
        {{itemsInfo}}
    </section>
    <section class="how-works">
        <div class="how-works-container">
            <h2>Как это работает?</h2>
            <div class="steps">
                <img src="/images/lineNumbers.png" alt="lineNumbers" height="100%">
                <div class="steps-text">
                    <div>
                        <h3>1. Заполните заявку </h3>
                        <p>Расскажите нам о своей проблеме и укажите, насколько она срочная. Это поможет нам быстрее подготовить ответ.</p>
                    </div>
                    <div>
                        <h3>2. Уточнение информации </h3>
                        <p>Если потребуется, наш юрист свяжется с вами для уточнения деталей. Мы готовы работать с вами так, как вам удобно!</p>
                    </div>
                    <div>
                        <h3>3. Получите консультацию</h3>
                        <p>В кратчайшие сроки вы получите ответ в выбранном вами формате. Мы на связи круглосуточно!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
